<div class="auth-container">
    <div class="auth-card">
        <h1>Welcome to ARUCHA</h1>
        <h2>Create New Account</h2>

        <form (ngSubmit)="signUp()" #form="ngForm" class="auth-form">

            <input type="username" [(ngModel)]="newUser.username" name="username" placeholder="USERNAME" required />

            <input type="email" [(ngModel)]="newUser.email" name="email" placeholder="EMAIL" required />

            <input type="password" [(ngModel)]="newUser.password" name="password" placeholder="PASSWORD" required />

            <button type="submit">Sign up</button>

            <p class="switch-text">ALREADY HAVE AN ACCOUNT?</p>
            <button type="button" class="alt-button" (click)="goToLogin()">
                Sign In
            </button>
        </form>
    </div>
</div>