<div class="calendar-app-container">
  <div class="calendar-header container mb-3">
    <div class="calendar-header-bar">
      <div class="icon-button-group">
        <button class="recipe-button" (click)="goToRecipes()">Recipes</button>
        <a routerLink="/profile" class="icon-button">
          <img src="assets/profile-icon.png" alt="Profile" />
        </a>
      </div>
      <h2 class="calendar-title">Meal Plan for the Week</h2>
    </div>
  </div>

  <div class="calendar-body container">
    <div class="row flex-wrap justify-content-center">
      <div
        class="col-12 col-md-6 col-lg-4 mb-4"
        *ngFor="let day of calendarSchedule"
      >
        <div class="card shadow-sm h-100 calendar-day-card">
          <div class="card-header calendar-card-header">
            <span>{{ day.label }}</span>
            <button class="btn plus-button" (click)="goToRecipes()">
              <i class="bi bi-plus-lg custom-plus-icon"></i>
            </button>
          </div>
          <div class="card-body d-flex flex-column justify-content-between">
            <div
              class="empty-day text-center p-3 border rounded"
              *ngIf="day.isDayEmpty()"
            >
              <p class="text-muted mb-2">Add meals for the day</p>
            </div>

            <ng-container *ngIf="!day.isDayEmpty()">
              <div *ngFor="let meal of day.getMeals()">
                <div
                  *ngIf="meal.plan?.thumb"
                  class="d-flex align-items-center justify-content-between mb-2 recipe-clickable"
                  style="cursor: pointer"
                >
                  <img
                    [src]="meal.plan?.thumb"
                    alt="meal.plan?.mealName"
                    class="rounded-circle"
                    width="40"
                    height="40"
                  />
                  <span>{{ meal.plan?.mealName }}</span>

                  <button
                    class="btn btn-sm btn-outline-danger"
                    (click)="removeMeal(day, meal.plan?.timeOfDay)"
                  >
                    &times;
                  </button>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
